<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sports Rule Clarification</title>
    <link rel="icon", href="static/images/Logo.png">
    <!-- Link to css file in the resources folder  -->
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
	<h1> <img src="static/images/Logo.png" alt="Sports Clarification Logo"> Sports Rule Clarification </h1>
    <p> A website to help you understand the rules of your favorite sports. Select the sport you are interested in, enter your question, and click submit to receive an answer! </p>
    <hr> <br><br>
    <form action="/result">
        <!-- Drop Down Menu to Select the Sport -->
      <!--
        <label for="sport">Select a sport:</label>
        <select id="sport" name="sport">
          <option value="Football">Football (NFL)</option>
          <option value="Hockey">Hockey (NHL)</option>
          <option value="Basketball">Basketball (NBA)</option>
          <option value="Womens Basketball">Basketball (WNBA)</option>
          <option value="Ultimate">Ultimate Frisbee (USAU)</option>
        </select> <br><br>
      -->
        <!-- Use Buttons to select the sport -->
        <h3> Select a sport: </h3>  
        <input type='radio' value='Football' name='radio' id='radio_nfl' {{nfl_checked}}/>
        <label for='radio_nfl'> Football (NFL) </label>
      
        <input type='radio' value='Hockey' name='radio' id='radio_nhl' {{nhl_checked}}/>
        <label for='radio_nhl'> Hockey (NHL) </label>
      
        <input type='radio' value='Basketball' name='radio' id='radio_nba' {{nba_checked}}/>
        <label for='radio_nba'> Men's Basketball (NBA) </label>
      
        <input type='radio' value='Womens Basketball' name='radio' id='radio_wnba' {{wnba_checked}}/>
        <label for='radio_wnba'> Women's Basketball (WNBA) </label>
      
        <input type='radio' value='Ultimate' name='radio' id='radio_usau' {{usau_checked}}/>
        <label for='radio_usau'> Ultimate Frisbee (USAU) </label>
        <br><br>

        <!-- Question Input Text Box -->
        <label for="question">Question:</label> 
        <input type="text", id="question", name="question", value="{{question_display}}"> </input>

        <!-- Answer Output Text Box  -->
        <label for="answer">Answer:</label>
        <input type="text", id="answer", name="answer", value="{{answer_display}}" READONLY> </input> <br><br>

        <!-- Submit Button -->
        <input type="submit" value="Submit"> <br><br>

        <!-- Link to the Rulebook if applicable-->
        <h3> {{more_info_text}} <a href="{{link}}">{{link_text}}</a> </h3>
    <form>

  </body>
</html>

<!--
  TODO:
  - Style everything to look nicer
-->